openapi: 3.0.1
info:
  contact:
    name: TrueLayer.com
    url: https://truelayer.com
  title: TrueLayer Authtentication
  version: v1.0
  x-applicationinfo:
    x-API-Description: TrueLayer allows financial applications to connect securely
      with their customer’s bank data. TrueLayer provides a unified interface between
      multiple financial institutions and third party applications over a common RESTful
      API.
    x-API-Documentation-URL: http://docs.truelayer.com/#introduction
    x-API-Name: Authtentication API
    x-App-Logo: https://images.aapi.io/TrueLayer_truelayercom
    x-App-Name: truelayer.com
    x-App-URL: https://truelayer.com/
    x-Category: ""
    x-Company: TrueLayer
    x-Company-Github: https://github.com/TrueLayer
    x-Orig-Desc-Format: JSON
    x-Orig-Desc-Type: Swagger 2.0
    x-Orig-Desc-Url: https://api.truelayer.com/swagger/v1.0/swagger.json
    x-additionalHostNames: ""
servers:
  - description: Sandbox Server
    url: https://auth.truelayer-sandbox.com
  - description: Production Server
    url: https://auth.truelayer.com

components:
  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        expires_in:
          type: number
          format: integer
        token_type:
          type: string
          default: Bearer
        refresh_token:
          type: string
paths:
  /connect/token:
    post:
      operationId: exchangeCode
      responses:
        "200":
          description: "Get Token Response"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                client_id:
                  type: string
                client_secret:
                  type: string
                redirect_uri:
                  type: string
                code:
                  type: string
                grant_type:
                  type: string
                  default: authorization_code
                code_verifier:
                  type: string
              required:
                - client_id
                - client_secret
                - redirect_uri
                - code
                - grant_type
